
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#geopic-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/pictures">GeoPics</a>
    </div>

    <div class="collapse navbar-collapse" id="geopic-nav-bar">
      <ul class="nav navbar-nav">
        <li><a href="#">Cities</a></li>
        <li><%= link_to 'Top Users', '/users' %></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class ="nav-item"> <a href="#"> Signed in as <%= current_user.name %></a></li>
          <li class ="nav-item"><%= link_to "Logout", '/logout' %></li>
        <% else %>
          <li class ="nav-item"><%= link_to 'Login', '/login' %></li>
          <li class ="nav-item"><%= link_to 'Signup', '/signup' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
