<h1><%= @city.name %> - All Pictures</h1>
<h6>
  <%= link_to "Your Location - Last 24 Hours", "/pictures/" %> | 
  <%= link_to "All - Last 24 Hours", "/pictures/all" %> | 
  <%= link_to "All Pictures", "/pictures/allpics" %>
</h6>

<%= render partial: "shared/picgrid" %>
