<div class="container text-center image-page-cont">
  <div class="thumbnail image-page-thumb">

<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @picture.title %>
</p>

<p>
  <strong>By:</strong>
  <%= @picture.user.username %>
</p>

<%= link_to image_tag(@picture.image.url(:large)), @picture.image.url %>

<p>
	<% if current_user.voted_for? @picture %>
		<%= link_to "Unlike", unlike_picture_path(@picture), method: :put %>
	<% else %>
		<%= link_to "Like", like_picture_path(@picture), method: :put %>
	<% end %>
</p>

<p><%= @location.city %>, <%= @location.state %></p>

<h3>Comments</h3>
<%= render @picture.comments %>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>

<% if current_user.id == @picture.user_id %>

<%= link_to "Delete", "/pictures/#{@picture.id}", method: 'destroy', class: "btn btn-primary", role: "button" %>

<% end %>

<%= link_to 'Back', pictures_path, class: "btn btn-primary", role: "button" %>
  </div>
</div>
