<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<%= link_to image_tag(@picture.image.url(:large)), @picture.image.url %>

<p>
	<% if current_user.voted_for? @picture %>
		<%= link_to "Unlike", unlike_picture_path(@picture), method: :put %>
	<% else %>
		<%= link_to "Like", like_picture_path(@picture), method: :put %>
	<% end %>
</p>

<h2>Comments</h2>
<%= render @picture.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>



<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
